{extends 'layout.latte'}

{block obsah}
<h1>{$titulek}</h1>
<table border="1">
    <tr>
        <th>Jmeno</th>
        <th>Prijmeni</th>
        <th>Mesto</th>

    </tr>
    {foreach $lide as $osoba}
       <tr>
          <td>{$osoba['firstname']}</td>
          <td>{$osoba['lastname']|upper}</td>
          {if $osoba['city']!= null }
          <td> {$osoba['city'] }</td>
          {else}
          <td>Nema adresu</td>
          {/if}

      </tr>
    {/foreach}

</table>
{/block}
